body {
    font-size: 20px;
    background-color: antiquewhite;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.menu__list {
    display: flex;
    gap: 0 30px;
}
.menu__link {
    text-transform: uppercase;
}

.logo_img {
    height: 100px;
}
.header__contact {
    text-transform: uppercase;
    padding: 10px 40px;
    display: inline-block;
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
}
.book {
    background-image:url(../images/book.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}