body {
    font-size: 20px;
    background-color: rgb(226, 213, 152);
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.menu__list {
    display: flex;
    gap: 0 30px;
}
.menu__link {
    text-transform: uppercase;
}

.logo_img {
    height: 100px;
}
.header__contact {
    text-transform: uppercase;
    padding: 10px 40px;
    display: inline-block;
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
}
.about__top {
    width: 1296px;
    height: 500px;
    background-image:url(../images/book.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
}
.slider__text {
    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
}
.chz {
    padding-top: 50px;
    padding-right: 160px;
}
.abb {
    padding-top: 50px;
    padding-left: 160px;
}
.carousel {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    margin-right: 50px;
    margin-left: 50px;
}
.slider__iner {
    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
}
.slide1 {
    padding-right: 50px;
}
.slide2 {
    padding-left: 50px;
}